*{
    background-color: #dc2f02;
    font-family: Monospace;
  }
  nav a{
      position: absolute; /* Position them relative to the browser window */
      left: -50px; /* Position them outside of the screen */
      transition: 0.5s; /* Add transition on hover */
      padding: 15px; /* 15px padding */
      width: 100px; /* Set a specific width */
      text-decoration: none; /* Remove underline */
      font-size: 20px; /* Increase font size */
      color: white; /* White text color */
      border-radius: 1px; /* Rounded corners on the top right and bottom right side */
      background-color: #00b4d8;
      font-family: Monospace;
      margin-top: 55px;
      border: 0;
    }
  nav a:hover{
      left: 0;
      color: #e63946;
      background-color: #f1faee;
    
  }
  
  nav{
    margin-top: 5px;
  }
  
  main h1{
    margin-left: 150px;
    color: palegoldenrod;
    font-size: 60px;
    margin-bottom: 0;
    font-family: monospace;
  }
  
  .active{
    left:0;
    color: #e63946;
    background-color: #f1faee;
  
  }
  
  main p{
    
    margin-left: 120px;
    color: white;
    font-size: 40px;
    margin-bottom: 0;
  }
  
  #home {
    margin-top:155px;
  }
  
  
  .about{
    margin-top: 255px;
  }


main button{
    
      color: #001219;
  }

main a:hover{
      color:#3d4041;
  }